.progress-circle {
  justify-content: center;
  align-items: center;
  display: flex;
  background: radial-gradient(transparent 50%, transparent 51%),
    conic-gradient(transparent 0deg 280deg, rgb(33, 33, 33) 280deg 360deg),
    conic-gradient(
      rgba(255, 47, 47, 1) 0deg,
      orange 180deg,
      rgba(7, 255, 32, 1)
    );
  border-radius: 50%;
  width: 200px;
  height: 200px;
  // For animations...
  transition: all 500ms ease-in;
  // will-change: transform;
}
.progress-circle-shadow {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  background: radial-gradient(transparent 50%, transparent 51%),
    conic-gradient(transparent 0deg 280deg, rgb(33, 33, 33) 280deg 360deg),
    conic-gradient(
      rgba(255, 47, 47, 1) 0deg,
      orange 180deg,
      rgba(7, 255, 32, 1)
    );
  border-radius: 50%;
  width: 200px;
  height: 200px;
  // For animations...
  transition: all 500ms ease-in;
  filter: blur(20px);
  // will-change: transform;
}

.progress-circle-inner {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  background-color: rgb(33, 33, 33);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  font-size: 45px;
  box-shadow: inset 0 0 10px 12px rgba(255, 255, 255, 0.09);
}
